.LogButton {
    padding: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: max-content;
    align-self: center;
    margin-right: 10px;
}

.InciportName {
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    position: absolute;
    top: 10%;
}

.LogoImage {
    height: auto;
    width: auto;
    max-height: 38px;
    max-width: 250px;
    margin-top: 8px;
    margin-left: 24px;
}

.OuterNav {
    padding: 0px !important;
}

.NavElement {
    padding: 0 !important;
    margin-right: 25px;
}

.NavItem {
    padding: 0 !important;
}
